<!DOCTYPE html>
<html lang="es">
<head>
      <meta name="title" content="Forum for Information Retrieval Evaluation" />
      <meta name="charset" content="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="language" content="es" />
      <title>Forum for Information Retrieval Evaluation</title>
      <link rel="shortcut icon" href="favicon.ico" />

      <%= stylesheet_link_tag    'application' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript">stLight.options({publisher: "675091de-c8f1-42e6-930a-033e764ecac2", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
      <script type="text/javascript">
        $(function() {
            document.getElementById("imagen").style.backgroundImage = "url(/assets/title_background/title-background-<%=current_year.value%>.png)"
            $("#imagen .alpha")[0].style.backgroundColor="rgba(255,255,255,<%=title_transparency%>)"
        });
      </script>

</head>
<body class="main-<%=current_year.value%>">
<header>
  <section id="imagen">
      <div class="alpha">
        <div class="container-fluid text-right">
          <div class="row">

              <div class="col-sm-2 hidden-xs">
                <%if current_year.value != "2017"%>
                   <div class="text-center" style="position: relative; left: 3vw;">

                   <img src="/assets/title_logos/title_left-<%=current_year.value%>.png" height="100px" width="180px"></img>
                   </div>
                 <%end%>
              </div>

            <div class="col-sm-8 col-xs-12" >
                <div class="title-div" style="position: relative ; ">
                    <h1 class="title-first" style="font-size:42px" ><b>FIRE <%= current_year.value %></b></h1>
                    <h3 class="title-second" style="font size=5.5vw" >
                        Forum for Information Retrieval Evaluation
                        <!--<font size="40vh;"><b style="letter-spacing: -5px;">F</b></font>   <font size="5.5vw">ORUM FOR </font>
                        <font size="40vh;"><b style="letter-spacing: -5px;">I</b></font>   <font size="5.5vw">NFORMATION </font>
                        <font size="40vh;"><b style="letter-spacing: -5px;">R</b></font>   <font size="5.5vw">ETRIEVAL </font>
                        <font size="40vh;"><b style="letter-spacing: -5px;">E</b></font>   <font size="5.5vw">VALUATION</font> -->
                    </h3>
                    <h4 class="title-third" style="letter-spacing: 1px ;"><%= current_year.venue %></h4>
                    <h4 class="title-fourth" style="letter-spacing: 1px ; "><%= current_year.duration %></h4>
                </div>
            </div>
            <div class="col-sm-2 hidden-xs">
               <div class="text-center" style="position: relative; right: 3vw;">
               <%if current_year.value == "2015"%>
                <img src="/assets/title_logos/title_right-<%=current_year.value%>.png" height="100px" width="170px"></img>
               <%end%>
               </div>
            </div>
          <div id="social">
            <a href="https://www.facebook.com/fire.forum" target="_blank"><i class="fa fa-fw fa-facebook fa-2x"></i></a>
            <a href="http://twitter.com/fire_forum" target="_blank"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
            <a href="https://plus.google.com/events/cnlf1663q34fefj22m7s3r7upu4?authkey=CP2srJaTic2d5AE" target="_blank"><i class="fa fa-fw fa-google-plus fa-2x"></i></a>
          </div>
        </div>
      </div>
  </section>
</header>


<section id="page-container">
      <div class="col-lg-10 col-sm-12">
            <section id="page">
            <div class="container">
              <div class="row">

                <div class="col-sm-3">
                  <ul class="nav nav-pills nav-stacked">
                        <% home_links = current_year.home_links.visible %>
                        <% year_value = current_year.value%>
                        <%for home_link in home_links %>
                            <%if (current_page?("/fire/#{year_value}/#{home_link.path}") ) or ( current_page?("/") and home_link == home_links.first ) %>
                              <li class="background_theme_color">
                                  <a href="/fire/<%=year_value%>/<%= home_link.path %>" style="color:#FFF" onMouseOver="this.style.color='<%=theme_color%>'" onMouseOut="this.style.color='#FFF'"> <%= raw home_link.name %></a>
                              </li>
                            <%else%>
                              <li>
                                  <a href="/fire/<%=year_value%>/<%= home_link.path %>">
                                    <font class="theme_color">
                                    <%= raw home_link.name %>
                                    </font>
                                  </a>
                              </li>
                            <%end%>
                        <%end%>
                  </ul>

                  <hr>

                  <ul class="nav nav-pills nav-stacked">
                      <li class="background_theme_color">
                           <a href="#" style="color:#FFF" onMouseOver="this.style.color='<%=theme_color%>'" onMouseOut="this.style.color='#FFF'">
                              <i class="fa fa-archive"></i> &nbsp <b> Archives </b>
                           </a>
                      </li>
                      <li>
                           <a href="/fire/static/data"> <font class="theme_color"> <i class="fa fa-database"></i> &nbsp <b>Data </b></font></a>
                      </li>
                      <li>
                           <a href="/fire/static/resources"> <font class="theme_color"> <i class="fa fa-book"></i> &nbsp <b>Resources </b></font></a>
                      </li>
                      <li>
                           <a href="#collapse_proceedings" data-toggle="collapse"> <font class="theme_color"> <i class="fa fa-file"></i> &nbsp <b>Past Proceedings</b></font></a>
                      </li>
                          <div id="collapse_proceedings" class="panel-collapse collapse">
                          <ul class="nav nav-pills nav-stacked">
                          <li>
                               <a href="http://dl.acm.org/citation.cfm?id=2838706" target="_blank"> <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2015 Conference</b></font></a>
                          </li>
                          <li>
                               <a href="http://ceur-ws.org/Vol-1587" target="_blank"> <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2015 Workshop</b></font></a>
                          </li>
                          <li>
                               <a href="http://dl.acm.org/citation.cfm?id=2824864" target="_blank"> <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2014</b></font></a>
                          </li>
                          <li>
                               <a href="http://dl.acm.org/citation.cfm?id=2701336" target="_blank"> <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2012/13</b></font></a>
                          </li>
                          <li>
                               <a href="http://link.springer.com/book/10.1007/978-3-642-40087-2/page/1" target="_blank"> <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2010/11</b></font></a>
                          </li>
                          <li>
                               <a href="http://dl.acm.org/citation.cfm?id=1838745&picked=prox" target="_blank"> <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b>2008 Issue 1</b></font></a>
                          </li>
                          <li>
                               <a href="http://dl.acm.org/citation.cfm?id=1838751&picked=prox" target="_blank"> <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2008 Issue 2</b></font></a>
                          </li>
                          </ul>
                          </div>
                      <li>
                           <a href="#collapse_fire" data-toggle="collapse"> <font class="theme_color"> <i class="fa fa-external-link-square"></i>
                           &nbsp <b>FIRE </b></font></a>
                      </li>
                          <div id="collapse_fire" class="panel-collapse in collapse">
                          <ul class="nav nav-pills nav-stacked active">
                          <% current_year_value = current_year.value.to_i %>
                          <% for year_value in ((2015..(current_year_value-1)).reverse_each)%>
                            <% year = Year.where(:value => year_value.to_s ).first %>
                            <li>
                                 <a href="http://fire.irsi.res.in/fire/<%=year_value%>/home" target="_blank" > <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> <%=year_value%> </b> </font></a>
                            </li>
                          <% end %>
                          <li>
                               <a href="http://www.isical.ac.in/~fire/2014/index.html" target="_blank" > <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2014 </b> </font></a>
                          </li>
                          <li>
                               <a href="http://www.isical.ac.in/~fire/2013/index.html" target="_blank" >  <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2013 </b> </font> </a>
                          </li>
                          <li>
                               <a href="http://www.isical.ac.in/~fire/2012/index.html" target="_blank" >  <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2012 </b> </font> </a>
                          </li>
                          <li>
                               <a href="http://www.isical.ac.in/~fire/2011/index.html" target="_blank" >  <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2011 </b> </font> </a>
                          </li>
                          <li>
                               <a href="http://www.isical.ac.in/~fire/2010/index.html" target="_blank" >  <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2010 </b> </font> </a>
                          </li>
                          <li>
                               <a href="http://www.isical.ac.in/~fire/2008/index.html" target="_blank" >  <font class="theme_color">&nbsp &nbsp &nbsp &nbsp<i class="fa fa-arrow-right"></i> &nbsp <b> 2008 </b> </font> </a>
                          </li>
                          </ul>
                          </div>
                    </ul>

                    <hr />

                <br />

              </div>

                <%= yield %>

              </div>
            </div>
            </section>
        </div>

        <div class="col-lg-2 col-sm-12 sponsors text-center">
            <section id="page">
            <div class="container">

              <div class="row">
                <ul class="nav nav-pills nav-stacked social-nav">
                    <li><h4 class="theme_color" > <b>Sponsors </b></h4></li>
                </ul>
                <% number_of_sponsors = current_year.sponsors.visible.size %>
                <% for sponsor in current_year.sponsors.visible %>
                  <% year = current_year.value %>
                  <img src="/assets/sponsors/<%=year%>/<%= sponsor.image_name %>" height="<%=sponsor.image_height%>" width="<%=sponsor.image_width%>" ><br/>
                  <a href="<%= sponsor.external_link %>">
                    <i> <%= sponsor.name %> </i><br/>
                  </a>
                  <hr/>
                <% end %>

                <%if number_of_sponsors < 1%>
                  <br/>
                  To be announced soon.
                  <hr/>
                <%end%>

                <ul class="nav nav-pills nav-stacked social-nav">
                    <li><h4 class="theme_color" > <b>Publications</b></h4></li>
                </ul>

                <% number_of_publishers = current_year.publishers.visible.size %>
                <% for publisher in current_year.publishers.visible %>
                  <img src="/assets/publishers/<%=year%>/<%= publisher.image_name %>" width="<%=publisher.image_width%>" height="<%=publisher.image_height%>" ><br/>
                  <a href="<%= publisher.external_link %>">
                    <i> <%= publisher.name %> </i><br/>
                  </a>
                  <hr/>
                <% end %>

                <%if number_of_publishers < 1%>
                  <br/>
                  To be announced soon.
                  <hr/>
                <%end%>

<!--                 <a lang="en" class="twitter-timeline" href="https://twitter.com/fire_forum" data-widget-id="729427403429150720">Tweets by @fire_forum</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

                </div>
            </div>
            </section>
        </div>



    </div>
</section>



<div class="clearfix"></div>
<footer style="background-color: <%= theme_color%>">
  <div class="container">
    <div class="row">
      <div class="col-md-12 logos">
        <div class="row">
          <div class="span-2 sp footer-logo-1">
<!--             <img src="/assets/isi.png" class="img-responsive" height="95" width="95"> -->
                <div class="text-center footer-1-div">
                  <p class="footer-1-line-1">FIRE <%= current_year.value %>, <%= current_year.venue %></p>
                  <p class="footer-1-line-2" style="line-height: 50%;">Copyright © <%= current_year.value %> IRSI</p>
                  <p class="footer-1-line-3" style="line-height: 50%;">All rights reserved</p>
                </div>
          </div>
          <div class="span-2 sp footer-logo-2">
            <a href="http://www.daiict.ac.in/"><img src="/assets/footer_logos/<%=current_year.value%>/footer-1.png" class="img-responsive"  height="110" width="110"></a>
          </div>
          <div class="span-2 sp footer-logo-3">
            <a href="http://irsi.res.in/"><img src="/assets/footer_logos/<%=current_year.value%>/footer-2.png" class="img-responsive"  height="165" width="165"></a>
          </div>
          <div class="span-2 sp footer-logo-4">
            <a href="http://www.isical.ac.in/"><img src="/assets/footer_logos/<%=current_year.value%>/footer-3.png" class="img-responsive" height="90" width="90"></a>
          </div>
          <div class="span-2 sp footer-logo-5">
                  <!-- Start of StatCounter Code for Default Guide -->
                    <div class="visitor-count"><%= raw current_year.statscounter_snippet %> Visitors</div>
                    <div class='st_facebook_hcount' displayText='Facebook'></div>
                    <div class='st_twitter_hcount' displayText='Tweet'></div>
                    <div class='st_googleplus_hcount' displayText='Google +'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>







</body>
</html>
