<!DOCTYPE html>
<html lang="es">
<head>
      <meta name="title" content="Forum for Information Retrieval Evaluation" />
      <meta name="charset" content="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="language" content="es" />
      <title>Forum for Information Retrieval Evaluation</title>
      <link rel="shortcut icon" href="favicon.ico" />
      <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,100|Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
<header>
  <section id="imagen">
      <div class="alpha">
        <div class="container-fluid text-right">
          <div class="row">
            <div class="col-sm-4">
              <a href="index.html"><img src="/assets/sigir-logo-alpha-horizontal.png" class="img-responsive logo logo-1 pull-left" /></a>
            </div>
            <div class="col-sm-8">
              <h2><%= current_year.venue %></h2>
              <h3><%= current_year.duration %></h3>
            </div>
          </div>
          <div id="social">
            <a href="http://www.facebook.com/sigir15" target="_blank"><i class="fa fa-fw fa-facebook fa-2x"></i></a>
            <a href="http://twitter.com/sigir15" target="_blank"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
          </div>
        </div>
      </div>
  </section>
</header>


<section id="page-sponsors">
      <div class="col-lg-10">
            <section id="page">
            <div class="container">
              <div class="row">

                <div class="col-sm-3">
                  <ul class="nav nav-pills nav-stacked">
                        <% home_links = current_year.home_links %>
                        <%for home_link in home_links %>
                            <%if current_page?("/fire/#{home_link.path}") %>
                              <li class="active">
                                  <a href="/fire/<%= home_link.path %>"> <%= home_link.name %></a>
                              </li>
                            <%else%>
                              <li>
                                  <a href="/fire/<%= home_link.path %>"> <%= home_link.name %></a>
                              </li>
                            <%end%>
                        <%end%>
                  </ul>

                <hr>
                
                <ul class="nav nav-pills nav-stacked social-nav">
                    <li><h4>Social</h4></li>
                    <li>
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/sigir15"  data-widget-id="482599164841164800">Tweets por @sigir15</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </li>
                </ul>
                
                <br />
                <br />     
              
              </div>

              <%= yield %>

              </div>
            </div>
            </section>
        </div>

        <div class="col-lg-2 col-sm-3 sponsors text-center">
            <h3><b>Platinum Supporter</b></h3>
            <img src="/assets/sponsors/baidu.png" class="img-responsive"/>
            <hr>
        </div>
        <div class="col-lg-2 col-sm-3 sponsors text-center">
            <h3><b>Gold<br>Supporters</b></h3>
            <img src="/assets/sponsors/microsoft.jpg" class="img-responsive"/>
            <img src="/assets/sponsors/google.png" class="img-responsive"/>
            <img src="/assets/sponsors/yahoo.png" class="img-responsive"/>
            <hr>
        </div>
    </div>
</section>



<div class="clearfix"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 texto-footer">
        <p><b>The 38th Annual<br />ACM SIGIR Conference  &copy; 2015</b><br>
        Santiago, Chile</p>
      </div>
      <div class="col-md-9 logos">
        <div class="row">
          <div class="span-2">
            <img src="/assets/utfsm.png" class="img-responsive">
          </div>
          <div class="span-2">
            <img src="/assets/uchile.png" class="img-responsive">
          </div>
          <div class="span-2">
            <img src="/assets/puc.png" class="img-responsive">
          </div>
          <div class="span-2 sp">
            <img src="/assets/usach.png" class="img-responsive">
          </div>
          <div class="span-2 sp">
            <img src="/assets/acm.png" class="img-responsive">
          </div>
          <div class="span-2 sp">
            <img src="/assets/yahoolabs-white.png" class="img-responsive">
          </div>
        </div>  
      </div>
      <div class="col-md-1 logo-izarus">
        <a href="http://www.izarus.cl/" target="_blank"><img src="/assets/izarus.png" class="img-responsive pull-right"></a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
