<!DOCTYPE html>
<html lang="es">
<head>
      <meta name="title" content="Forum for Information Retrieval Evaluation" />
      <meta name="charset" content="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="language" content="es" />
      <title>Forum for Information Retrieval Evaluation</title>
      <link rel="shortcut icon" href="favicon.ico" />

      <%= stylesheet_link_tag    'application' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript">stLight.options({publisher: "675091de-c8f1-42e6-930a-033e764ecac2", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>
<header>
  <section id="imagen">
      <div class="alpha">
        <div class="container-fluid text-right">
          <div class="row">
            <div class="col-sm-3">
               <div class="text-center" >
               <img src="/assets/irsi1.gif" ></img>                
               </div>
            </div>
            <div class="col-sm-9">
                <div class="text-center" style="position: relative ; left: -120px">
                    <h2  style="color:#421E05 ; font-family: 'Crete Round';" >                    
                        <font size="20px"><b>F</b></font>ORUM FOR <font size="20px"><b>I</b></font>NFORMATION <font size="20px"><b>R</b></font>ETRIEVAL <font size="20px"><b>E</b></font>VALUATION
                    </h2>
                    <h3 style="color:#421E05 ;   font-family: 'Crete Round';"><b>( FIRE <%= current_year.value %> )</b><h3>
                    <h4 style="color:#421E05 ; font-family: 'Crete Round';"><%= current_year.venue %></h4>
                    <h4 style="color:#421E05 ; font-family: 'Crete Round';"><%= current_year.duration %></h4>
                </div>
            </div>
          <div id="social">
            <a href="https://www.facebook.com/fire.forum" target="_blank"><i class="fa fa-fw fa-facebook fa-2x"></i></a>
            <a href="http://twitter.com/fire_forum" target="_blank"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
            <a href="https://plus.google.com/events/cnlf1663q34fefj22m7s3r7upu4?authkey=CP2srJaTic2d5AE" target="_blank"><i class="fa fa-fw fa-google-plus fa-2x"></i></a>
          </div>
        </div>
      </div>
  </section>
</header>


<section id="page-container">
      <div class="col-lg-10">
            <section id="page">
            <div class="container">
              <div class="row">

                <div class="col-sm-3">
                  <ul class="nav nav-pills nav-stacked">
                        <% home_links = current_year.home_links.visible %>
                        <%for home_link in home_links %>
                            <%if (current_page?("/fire/#{home_link.path}") ) or ( current_page?("/") and home_link == home_links.first ) %>
                              <li class="active">
                                  <a href="/fire/<%= home_link.path %>"> <%= raw home_link.name %></a>
                              </li>
                            <%else%>
                              <li>
                                  <a href="/fire/<%= home_link.path %>">
                                    <font style="color:#174E14">
                                    <%= raw home_link.name %>
                                    </font>
                                  </a>
                              </li>
                            <%end%>
                        <%end%>
                  </ul>

                  <hr>
                
                  <ul class="nav nav-pills nav-stacked">
                      <li class="active">
                           <a href="#"> 
                              <i class="fa fa-archive"></i> &nbsp <b> Archives </b>
                           </a>
                      </li>
                      <li>
                           <a href="/fire/data"> <font style="color:#174E14"> <i class="fa fa-database"></i> &nbsp <b>Data </b></font></a>
                      </li>
                      <li>
                           <a href="/fire/resources"> <font style="color:#174E14"> <i class="fa fa-book"></i> &nbsp <b>Resources </b></font></a>
                      </li>
                      <li>
                           <a href="http://www.isical.ac.in/~fire/2014/index.html" target="_blank" > <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> &nbsp <b>FIRE 2014 </b> </font></a>
                      </li>
                      <li>
                           <a href="http://www.isical.ac.in/~fire/2013/index.html" target="_blank" >  <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> &nbsp <b>FIRE 2013 </b> </font> </a>
                      </li>
                      <li>
                           <a href="http://www.isical.ac.in/~fire/2012/index.html" target="_blank" >  <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> &nbsp <b>FIRE 2012 </b> </font> </a>
                      </li>
                      <li>
                           <a href="http://www.isical.ac.in/~fire/2011/index.html" target="_blank" >  <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> &nbsp <b>FIRE 2011 </b> </font> </a>
                      </li>
                      <li>
                           <a href="http://www.isical.ac.in/~fire/2010/index.html" target="_blank" >  <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> &nbsp <b>FIRE 2010 </b> </font> </a>
                      </li>
                      <li>
                           <a href="http://www.isical.ac.in/~fire/2008/index.html" target="_blank" >  <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> &nbsp <b>FIRE 2008 </b> </font> </a>
                      </li>
                    </ul>
                
                <br />
                <br />     
              
              </div>

                <%= yield %>

              </div>
            </div>
            </section>
        </div>

        <div class="col-lg-2 col-sm-3 sponsors text-center">
            <section id="page">
            <div class="container">

              <div class="row">
                <ul class="nav nav-pills nav-stacked social-nav">
                    <li><h4 style="color:#174E14;" > <b>Sponsors </b></h4></li>
                </ul>

                <img src="/assets/acm_sigir.png" height="130px" width="150px" ><br/>
                <a href="http://sigir.org/">
                  <i>ACM SIGIR</i><br/>
                </a>
                <hr/>
                
                <img src="/assets/ashok.jpg" width="60px"  ><br/>
                <a href="http://deity.gov.in/" >
                  <i>DeitY, Government of India</i><br/>
                </a>
                <hr/>
                

                <ul class="nav nav-pills nav-stacked social-nav">
                    <li><h4 style="color:#174E14;" > <b> Social </b></h4></li>
                    <li>
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/fire_forum"  data-widget-id="405803542385942528">Tweets by @fire_forum</a>
                    <script type="text/javascript">document.getElementsByTagName("html")[0].setAttribute("lang", "en");</script>
                    <script src="//platform.twitter.com/widgets.js"></script>
                    </li>
                </ul>
                </div>
            </div>
            </section>
        </div>



    </div>
</section>



<div class="clearfix"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 logos">
        <div class="row">
          <div class="span-2 sp">
<!--             <img src="/assets/isi.png" class="img-responsive" height="95" width="95"> -->
                <br>
                <div style="font-size:15px;" class="text-center">
                  <b>
                  <p>Copyright © 2014 IRSI
                  <p>All rights reserved
                  </b>
                </div>
          </div>
          <div class="span-2 sp">
            <a href="http://www.daiict.ac.in/"><img src="/assets/da.png" class="img-responsive"  height="80" width="80"></a>
          </div>
          <div class="span-2 sp">
            <a href="http://irsi.res.in/"><img src="/assets/irsi.gif" class="img-responsive"  height="100" width="100"></a>
          </div>
          <div class="span-2 sp">
            <a href="http://www.isical.ac.in/"><img src="/assets/isi.png" class="img-responsive" height="60" width="60"></a>
          </div>
          <div class="span-2 sp">          
            <a href="http://india.acm.org/"><img src="/assets/acm.png" class="img-responsive"  height="250" width="250"></a>
          </div>
          <div class="span-2 sp">


                  <!-- Start of StatCounter Code for Default Guide -->
                  <div class="text-center">
                    <b>
                    <div style="font-size:15px;">                  
                      <script type="text/javascript">
                          var sc_project=10446760; 
                          var sc_invisible=0; 
                          var sc_security="e0c2cc68"; 
                          var sc_text=2; 
                          var scJsHost = (("https:" == document.location.protocol) ?
                          "https://secure." : "http://www.");
                          document.write("<script type='text/javascript' src='" +
                          scJsHost+
                          "statcounter.com/counter/counter.js'></"+"script>");
                      </script>
                      <noscript>
                          <div class="statcounter">
                              <img class="statcounter"  src="http://c.statcounter.com/10446760/0/e0c2cc68/0/" alt="website statistics">
                          </div>
                      </noscript>
                      Visitors
                    </div>
                    </b>
                    <br>
                    <span class='st_facebook_hcount' displayText='Facebook'></span>
                    <br>
                    <span class='st_twitter_hcount' displayText='Tweet'></span>
                    <br>
                    <span class='st_googleplus_hcount' displayText='Google +'></span>
                  </div>

          </div>
        </div>  
      </div>
    </div>
  </div>
</footer>







</body>
</html>
