<!DOCTYPE html>
<html lang="es">
<head>
      <meta name="title" content="Forum for Information Retrieval Evaluation" />
      <meta name="charset" content="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="language" content="es" />
      <title>Forum for Information Retrieval Evaluation</title>
      <link rel="shortcut icon" href="favicon.ico" />
      <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,100|Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
<header>
  <section id="imagen">
      <div class="alpha">
        <div class="container-fluid text-right">
          <div class="row">
            <div class='text-center'>
                <br>
                <h1  style="color:#421E05 ; font-family: 'Quicksand';" >FORUM FOR INFORMATION RETRIEVAL & EVALUATION</b></h1>
                <h3 style="color:#421E05 ;  font-family: 'Quicksand';">( FIRE <%= current_year.value %> )<h3>
                <br>
                <h4 style="color:#421E05"><%= current_year.venue %></h4>
                <h4 style="color:#421E05"><%= current_year.duration %></h4>
            </div>
          </div>
          <div id="social">
            <a href="https://www.facebook.com/fire.forum" target="_blank"><i class="fa fa-fw fa-facebook fa-2x"></i></a>
            <a href="http://twitter.com/fire_forum" target="_blank"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
            <a href="https://plus.google.com/events/cnlf1663q34fefj22m7s3r7upu4?authkey=CP2srJaTic2d5AE" target="_blank"><i class="fa fa-fw fa-google-plus fa-2x"></i></a>
          </div>
        </div>
      </div>
  </section>
</header>


<section id="page-sponsors">
      <div class="col-lg-10">
            <section id="page">
            <div class="container">
              <div class="row">

                <div class="col-sm-3">
                  <ul class="nav nav-pills nav-stacked">
                        <% home_links = current_year.home_links.visible %>
                        <%for home_link in home_links %>
                            <%if (current_page?("/fire/#{home_link.path}") ) or ( current_page?("/") and home_link == home_links.first ) %>
                              <li class="active">
                                  <a href="/fire/<%= home_link.path %>"> <%= raw home_link.name %></a>
                              </li>
                            <%else%>
                              <li>
                                  <a href="/fire/<%= home_link.path %>">
                                    <font style="color:#174E14">
                                    <%= raw home_link.name %>
                                    </font>
                                  </a>
                              </li>
                            <%end%>
                        <%end%>
                  </ul>

                  <hr>
                
                  <ul class="nav nav-pills nav-stacked">
                      <li class="active">
                           <a href="#"> 
                              <i class="fa fa-archive"></i>  Archives 
                           </a>
                      </li>
                      <li>
                           <a href="#"> <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> 2014 </font></a>
                      </li>
                      <li>
                           <a href="#">  <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> 2013 </font> </a>
                      </li>
                      <li>
                           <a href="#">  <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> 2010 </font> </a>
                      </li>
                      <li>
                           <a href="#">  <font style="color:#174E14"> <i class="fa fa-arrow-circle-right"></i> 2008 </font> </a>
                      </li>
                    </ul>



                
                <br />
                <br />     
              
              </div>

              <%= yield %>

              </div>
            </div>
            </section>
        </div>

        <div class="col-lg-2 col-sm-3 sponsors text-center">
            <section id="page">
            <div class="container">

              <div class="row">
                <ul class="nav nav-pills nav-stacked social-nav">
                    <li><h4 style="color:#174E14;" > <b>Sponsorers </b></h4></li>
                </ul>
                
                <img src="/assets/ashok.jpg" border=0/><br/>
                <a href="http://deity.gov.in/">
                  <i>DEITY Government of India</i><br/>
                </a>

                <hr/>
                <ul class="nav nav-pills nav-stacked social-nav">
                    <li><h4 style="color:#174E14;" > <b> Social </b></h4></li>
                    <li>
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/fire_forum"  data-widget-id="405803542385942528">Tweets by @fire_forum</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    </script>
                    </li>
                </ul>
                </div>
              </div>
              </section>
        </div>



    </div>
</section>



<div class="clearfix"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 texto-footer">
        <p><b>The 38th Annual<br />ACM SIGIR Conference  &copy; 2015</b><br>
        Santiago, Chile</p>
      </div>
      <div class="col-md-9 logos">
        <div class="row">
          <div class="span-2">
            <img src="/assets/utfsm.png" class="img-responsive">
          </div>
          <div class="span-2">
            <img src="/assets/uchile.png" class="img-responsive">
          </div>
          <div class="span-2">
            <img src="/assets/puc.png" class="img-responsive">
          </div>
          <div class="span-2 sp">
            <img src="/assets/usach.png" class="img-responsive">
          </div>
          <div class="span-2 sp">
            <img src="/assets/acm.png" class="img-responsive">
          </div>
          <div class="span-2 sp">
            <img src="/assets/yahoolabs-white.png" class="img-responsive">
          </div>
        </div>  
      </div>
      <div class="col-md-1 logo-izarus">
        <a href="http://www.izarus.cl/" target="_blank"><img src="/assets/izarus.png" class="img-responsive pull-right"></a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
